$light-grey: #acb4bb;
$grey: #696c6f;
$dark-grey: #231f20;
$yellow: #fedb29;
$blue: #4d86bb;
$light-blue: #e6ebf0;
$white: #fff;
$red: #ed184a;
$green: #54ae3f;
$orange: #f7941d;
$bg-light:#fafcfe;
%position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before{
  content: '';
  display: block;
  clear: both;
}
body{
  min-height: 100vh;
  font:400 14px/14px 'Roboto Slab', sans-serif;
  color: $grey;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;   
}
img{
  display: block;
  text-decoration: none;  
}
a img{
  border: none;
  outline: none;
}
a{
  text-decoration: none;
  color: $grey;  
}
nav ul{
  list-style-type: none;
}
.container{
  max-width: 1190px;
  min-width: 350px;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
}
.cover{
  background:rgba(0,0,0,0.5);
  position:fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9000;
}
.box{
  overflow: hidden;
  background:#fff;
  position:absolute;
  left:50%;
  top:600px;
  width:100%;
  height:80%;
  margin-left: -50%;
  margin-top: -80%;
  z-index: 9010;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box img
{
  height: 80%;
}
.close{
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  background:#B93737;
  position:absolute;
  right:20px;
  top:20px;
  width:40px;
  height:40px;
  cursor: pointer;
}
.orange{
  color: $orange;
}
.bold{
  font-weight: 700;
}
.btn-more_yellow{   
  display: block;
  width: 148px;
  margin: 15px auto;
  position: relative;  
}
.btn-more_yellow svg{
  fill: $white;
  stroke: $yellow;
}
.btn-more_yellow a{
  color: $dark-grey;
  @extend %position-center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  white-space: nowrap;
  padding: 20px 20px;
}
.btn-more_yellow #submit{
  background: $yellow;
}

.btn-more_yellow:hover svg{
  fill: $yellow;
  transition: 0.5s;
}
.goods-price{
  width: 92px;
  color: $white;
  font-weight: 700;
  position: absolute;
  top: 35%;
  right: 0;  
}
.goods-price svg{
  fill: $blue;
}
.goods-price .value{
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  @extend %position-center;
}
.label{
  color: $white;  
  width: 70px;
}
.label svg{
  width: 100%;  
}
.label span{
  @extend %position-center;
}
.left{    
  position: absolute;
  top: 17%;
  left: 3%;  
  transform: translateX(-30%); 
}
.right{ 
  position: absolute;
  top: 20%;
  right: 0;  
  transform: translateX(40%); 
}
.new{
  fill: #31b69e;
}
.discount{
  fill: red;
  top:9%;
}
.line-through{
  text-decoration: line-through;  
}
.disable{
  display: none;
}
.header-top{
  width: 100%;
  background: $bg-light;
  padding: 13px 0; 
  //position: fixed;
  //z-index: 10;
  //top: 0;
  //left: 0;
}
.header-top .container{
  flex-direction: row;
}
.header-top nav{
  width: 50%;
  display: none;
}
.header-top ul{
  width: 100%;  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}
.header-top li{
  margin-right: 40px;
  margin-top: 10px;  
}
.header-top .phone{
  display: none;
  background: $bg-light;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}
.header-top .phone .fa-phone-volume{
  color: tomato;
  font-size: 22px;  
  animation: blink 2s infinite;
}
.header-top .phone .fa-viber{
  color: #a347ff;
  font-size: 22px;
  animation: blink 2s infinite;
}
@keyframes blink{
  50% {
    opacity: 0.2;
  }
}
.header-top a{
  color: $grey;  
  margin-left: 20px; 
}
.header-top a:hover{
  color: $blue;
  text-decoration: underline;  
  transition: 0.5s;
}
.header-meadle{
  padding: 10px 14px;
}
.header-meadle .logo{
  width: 18%;
}
.header-meadle .logo img{
  width: 100%;  
  max-width: 150px;
}
.header-meadle .header-meadle-item{
  width: 82%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-widget{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-bottom: 15px; */  
}
.widget-promo{  
  width: 87px;
  position: relative;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.widget-promo svg{
  fill: white;
  stroke: $blue;  
}
.widget-promo span{
  @extend %position-center;
  white-space: nowrap;
  font-weight: 700;
  color: white;
}
.widget-promo a{
  padding: 12px 22px;
}
.widget-promo i{
  color: $blue;
  margin-right: 5px;
  font-size: 20px;
}
.widget-promo:hover svg{
  fill: $blue;  
  transition: 0.5s;
}
.widget-promo:hover a{
  color: white;
  transition: 0.5s;
}
.widget-promo:hover i{
  color: white;
  transition: 0.5s;
}
.widget-callback{
  width: 150px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
header .widget-callback{
  display: none;
}

.widget-callback .phone-number{
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  white-space: nowrap;  
}
.widget-callback .phone-number a{  
  border-bottom: 1px solid white;
  transition: 0.5s;
}
.widget-callback .callback{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-align: center; 
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;  
  align-items: center;
  letter-spacing: 1px;          
}
.widget-callback .callback a{  
  border-bottom: 2px solid $red;
}
.widget-callback .phone-number:hover a{
  color: $blue;
  border-bottom: 1px solid #729fc9;
  transition: 0.5s;
}
.widget-callback .callback:hover a{
  color: $red;
  transition: 0.5s;
}
.widget-cart{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.widget-cart .cart{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $yellow;  
  text-align: center;
  position: relative;   
  transition: 0.5s;
}
.widget-cart .purchase{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $blue;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translate(-50%, -50%);
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  color: white;  
}
.widget-cart .cart i{
  line-height: 60px;
  font-size: 30px; 
}
.widget-cart .cart:hover{
  background: $blue;  
}
.widget-cart .cart:hover a{  
  color: white;
}
.widget-cart .cart-description{
  margin-left: 10px;
}
.widget-cart .description{
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  display: none;
}
.widget-cart .sum{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: none;
}
.widget-login{    
  width: 87px;
  position: relative;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  //display: none;
}

.widget-login svg{
  fill: white;
  stroke: $yellow;  
}
.widget-login span{
  @extend %position-center;
  white-space: nowrap;
  font-weight: 700;
  color: white;
}
.widget-login a{
  padding: 12px 22px;
}
.widget-login i{
  color: $yellow;
  margin-right: 5px;
  font-size: 20px;
}
.widget-login:hover svg{
  fill: $yellow;  
  transition: 0.5s;
}
.widget-login:hover a{
  color: white;
  transition: 0.5s;
}
.widget-login:hover i{
  color: $grey;
  transition: 0.5s;
}
.header-search{
  //display: none;
  width: 100%;
  position: relative;  
}
.header-search svg{
  width: 100%;
  fill: white;
  stroke: #e6ebf0;  
}
.header-search form{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header-search form label{
  font-size: 13px;
  font-weight: 700;
  padding: 3px 12px 3px 15px;
  border-right: 1px solid #e6ebf0;
}
.header-search form input{
  width: 40%;
  padding: 0 14px;
  border-style: none;
  outline: none;  
  height: 20px;
}

.header-search form button{
  background: white;
  border-style: none;
  outline: none;
  color: $yellow;
  font-size: 16px;
  float: right;
  margin: 0 20px;
}
.main-nav{
  background: $bg-light;   
}
.main-menu{
  width: 100%;
  margin-bottom: 25px;
  margin-top: 10px;
}
.main-menu nav{
  width: 100%;  
}
.main-menu>ul{  
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  align-items: center;
}
.main-menu a{
  color: $dark-grey;
  text-transform: uppercase;
  font-weight: 700;
}
.main-menu>ul>li{  
  position: relative;
  margin: 3px 0;  
}
.main-menu svg{
  fill: $bg-light;
  stroke: $yellow;
}
.main-menu .active{  
  stroke: $yellow;  
}
.main-menu>ul>li>a{
  @extend %position-center;
  padding: 15px 7px;
  width: 100%;
  text-align: center;
}
.main-menu .container{
  max-width: 355px;
}
.main-menu .sub-menu{
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  z-index: 2;
  display: none;
}
.main-menu .sub-menu ul{
  width: 220px;  
  position: absolute;
  top: 0;
  left: 21%;
  z-index: 3;
}
.sub-menu li{
  width: 100%;
  margin-top: 1.5em;
}
.sub-menu svg{
  fill: $white;
  stroke: $bg-light;
}

.slider, .register-form{  
  margin-top: 30px;
}

.slider .container{  
  display: none;
}

.slider .slider-left{
  display: flex;
  width: 100%;
  position: relative;
}
.slider .slider-left>svg{
  width: 100%;
  fill: #91bce6;
}
.slider .slider-right>svg{
  width: 100%;
  fill: #f5f8fa;
}
.slider .col-left{
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(14%, -16%);
}
.slider .col-left h2{
  font-size: 45px;
  line-height: 46px;
  font-weight: 700;
  color: $blue;
  text-transform: uppercase;  
}
.slider .col-left ul{
  padding-left: 25px;
  list-style-type: none;
}
.slider .col-left li{
  margin-top: 8px;
  position: relative;
}
.slider .col-left li:before{
  content: '';
  display: flex;  
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: $yellow;
  position: absolute;
  top: 5px;
  left: -15px;
}
.slider .col-left a{
  color: $white;
  font-size: 16px;  
}
.slider-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider-nav a{
  cursor: pointer;
  display: block;
  width: 45px;
  height: 5px;
  background: $light-grey;
  margin-left: 8px;
}
.slider-nav a.active{
  background: #91bce6;
}
.col-left .btn-more{
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
}
.col-left .btn-more svg{
  fill: #91bce6;
  stroke: $white;
}
.col-left .btn-more a{
  color: white;
  @extend %position-center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  white-space: nowrap;
  padding: 20px 20px;
}
.col-left .btn-more:hover svg{
  fill: $white;
  transition: 0.5s;
}
.col-left .btn-more:hover a{
  color: $grey;
  transition: 0.5s;
}

.slider .col-right{  
  justify-content: center;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-13%, 25%);
}
.slider .col-right svg{
  width: 100%;  
}
.slider .col-right .price-from{
  width: 50%;
  position: absolute;
  bottom: 25%;
  left: 0;
  transform: translateX(-36%);
}
.col-right .price-from svg{
  fill: $yellow;
}
.col-right .price-from span{
  width: 100%;
  font-size: 11px;
  font-weight: 700;
  color: $dark-grey;
  text-align: center; 
  @extend %position-center;
}
.col-right .price-from .price{
  font-size: 20px;
}
.slider .slider-right{
  width: 100%;
  position: relative;
}
.slider-right .best-seller{
  width: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -10%);
}
.slider-right .best-seller a>svg{
  width: 100%;
  stroke: #e6ebf0;
  fill: $white;
}
.slider-right .best-seller image{
  transition: 0.5s;
}
.slider-right .best-seller:hover image{
  transform: scale(1.1);
}

.slider-right .best-seller .description{
  text-align: center;
  line-height: 25px;  
}
.best-seller .description h2{
  font-weight: normal;
  font-size: 15px;
}
.best-seller .price{
  width: 85px;
  color: $dark-grey;  
  position: absolute;
  top: 28%;
  left: 0;  
  transform: translateX(-45%); 
}
.best-seller .price svg{
  fill: $yellow;
}
.best-seller .price span{
  width: 100%;
  text-align: center;
  font-weight: 700;
  @extend %position-center;
}
.best-seller .btn-more{   
  display: block;
  width: 148px;
  margin: 15px auto;
  position: relative;  
}
.best-seller .btn-more svg{
  fill: #f5f8fa;
  stroke: $yellow;
}
.best-seller .btn-more a{
  color: $dark-grey;
  @extend %position-center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  white-space: nowrap;
  padding: 20px 20px;
}
.best-seller .btn-more:hover svg{
  fill: $yellow;
  transition: 0.5s;
}
.catalog nav{
  width: 100%;  
  margin-bottom: 20px;
}
.catalog .container>h2{
  width: 100%;  
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  color: $grey;
  margin-bottom: 15px;
}
.catalog .container>h2 a{
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  color: $grey;
}
.catalog ul{  
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  align-items: center;
}
.catalog a{
  color: $dark-grey;
  text-transform: uppercase;
  font-weight: 700;
}
.catalog li{  
  position: relative;
  margin: 3px 0;  
}
.catalog nav svg{
  fill: $white;
  /* stroke: $yellow; */
}
.catalog .active{  
  stroke: $yellow;  
}
.catalog li a{
  @extend %position-center;
  padding: 10px 5px;
  border-bottom: 1px solid #acb4bb;
  color: $grey;
  animation: borderblink 2s infinite;
}
@keyframes borderblink{
  50%{
    border-bottom: 1px solid $white;
  }

} 
.catalog-items{
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}
.catalog-items .col4{
  flex-basis: 80%;
  margin: 30px 30px 0 30px;
  position: relative;
  justify-content: center;
}
.catalog-items svg{
  width: 100%;  
}
.catalog-items .back-decor{
  width: 80%;  
  margin: 0 auto;
  stroke: #e6ebf0;
  fill: $white;
  transition: 0.5s;
}
.catalog-items .front-decor{  
  position: absolute;
  top: 0;
  left: 0;
  stroke: #e6ebf0;
}
.catalog-items .col4:hover .back-decor{
  stroke: $blue;  
}
.catalog-items .col4 image{  
  transition: 0.5s;
}
.catalog-items .col4:hover image{
  transform: scale(1.1);   
}
.catalog-items h2{
  /* height: 75px; */
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stock{
  width: 100%;
  background: $bg-light;
  padding-top: 50px;  
}
.col-nav{      
  flex-basis: 77%;
  position: relative;       
}
.stock-nav{  
  position: absolute;
  top: -7px;
  left: 15%;
} 
.col-nav svg{
  width: 100%;
  fill: #91bce6;
}
.col-nav h2{
  font-size: 28px;
  line-height: 1;
  color: $blue;
  text-transform: uppercase;
}
.col-nav ul{
  margin-top: 20px;
  list-style: none;  
}
.col-nav li{
  margin-top: 2em;
}
.col-nav a{
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
}
.stock-nav a:hover{
  color: $yellow;
  border-bottom: 2px solid $yellow;
}
.col-description{
  margin-top: 30px;
  flex-basis: 77%;
  position: relative;  
}
.col-description h2{  
  font-size: 28px;
  line-height: 1;
  color: $orange;
  text-transform: uppercase;
}
.col-description p{
  font-size: 1.2em;
  padding-top: 10px;
  line-height: 1.6;
  text-align: justify;
}
.col-description ol{
  font-size: 1.2em;
  margin-left: 10%;
  line-height: 1.6;
  text-align: justify;
}
.stock .goods-price .line-through{
  font-size: 0.9em;
  color: $light-blue;
}
.stock .catalog-items .front-decor{
stroke: #e6ebf0;
}
.stock .container>h2{
  line-height: 28px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  padding-top: 50px;
}
h1#new-products{
  text-align: center;
  line-height: 28px;
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 50px;
}
.partners{
  padding-top: 50px;
}
.partners .col-description a{
  font-weight: 700;
  color: $blue;  
}
footer{
  padding-top: 50px;  
}
.footer-back{  
  background: $bg-light;
  padding-top: 15px;
  padding-bottom: 15px;  
}
.footer-back .container{
  justify-content: flex-end;
}
.footer-back .btn-back{  
  position: fixed;
  bottom: 20px;
  right: 10px;
}
.footer-back .btn-back svg{
  fill: $white;
  stroke: $blue;
  transition: 0.5s;
}
.footer-back .btn-back a{  
  font-size: 1.2em;
  color: $blue;
  padding: 8px 16px;
  @extend %position-center;
  transition: 0.5s;

}
.footer-back .btn-back:hover svg{
  fill: $blue;
}
.footer-back .btn-back:hover a{
  color: $white;
}
.footer-nav{
  padding-bottom: 20px;
  background: #f5f8fa;
}
.footer-nav nav{
  width: 100%;
}
.footer-nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-nav li{  
  flex-basis: 50%;
  text-align: center;
  margin-top: 20px;
}
.footer-nav a{
  white-space: nowrap;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 700;
  color: $dark-grey;
  text-transform: uppercase;
  border-bottom: 2px solid $yellow;
  transition: 0.3s;
}
.footer-nav a:hover{
  border-bottom: 0px solid $yellow;
}
.footer-widgets{
  background: $bg-light;  
  padding-bottom: 20px;
}
.footer-widgets .container{
  justify-content: space-between;
}
footer .widget{
  white-space: nowrap;
  flex-basis: 100%;
  margin-top: 20px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}
.footer-widgets h3{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.footer-widgets i{
  color: $blue;
  font-size: 30px;
  margin: 0 10px 10px 10px;
}
.breadcrumbs .container{
  justify-content: flex-start;
  color: $light-grey;
  padding-top: 40px;
}
.breadcrumbs a{
  color: $light-grey;
  margin-right: 2px;
}
.breadcrumbs ol{
  list-style: none;
}
.breadcrumbs li{
  display: inline-block;
}
.good-title .container{
  padding-top: 30px;
}
.title-item{
  flex-basis: 100%;  
  padding: 15px;
}
.title-item h1{
  color: $dark-grey;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
  text-align: center;
}
.good-code{
  display: flex;
  justify-content: space-between;
}
.good-code .in-out{
  color: $green;
}
.title-item .btn-more_yellow{
  margin: 0;
}
.title-item form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}
.title-item .btn-more_yellow{
  width: 160px;
}
.title-item a{
  text-align: center;
  z-index: 10;
  padding: 20px 33px;
}
.title-price{
  color: $white;
  position: relative;
}
.title-price svg{
  fill: $blue
}
.title-price p{
  width: 100%;
  font-size: 30px;
  text-align: center;
  @extend %position-center;
}

.good-details .details-item{
  flex-basis: 100%;  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-item .colors{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  // outline: 1px solid black;
}

.details-item .colors a{
  margin: 7px;
  width: 7vw;
  height: 30px;
  border-radius: 10%;  
}

.good-details .good-foto{
  position: relative;
  margin-top: -50px;
  margin-bottom: -60px;
}
.good-foto .back-decor{
  width: 80%;  
  margin: 0 auto;
  stroke: #e6ebf0;
  fill: $white;
  transition: 0.5s;
}
.good-foto .front-decor{  
  width: 100%;
  stroke: $light-grey;
  position: absolute;
  top: 0;
  left: 0;
}
.good-foto:hover .back-decor{
  stroke: $blue;
}
.good-details .good-description{
  background: $bg-light;  
  height: 100%;
  padding: 20px 20px;
}
.good-description p{
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: justify;
}
.good-description table{
  width: 100%;
}
.good-description table tr:nth-child(odd){
  background: $white;
}
.good-description table td:nth-child(even){
  text-align: right;
}
.good-description table td{
  width: 50%;
  height: 30px;
}
.good-description li{
  margin-top: 5px;
  margin-left: 30px;
}

.condition{
  margin-top: 30px;
}
.condition h1{
  line-height: 1.1;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}
.condition .row{
  width: 100%;  
  border: 1px solid $light-blue;
  padding:  30px 30px 0 30px;
  display: flex;
  flex-wrap: wrap;  
}
.condition .condition-item{
  flex-basis: 100%;
}
.condition .payment-icon, .delivery-icon, .return-icon{
  color: $blue;  
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.condition i{
  font-size: 35px;  
  width: 50px;
}
.condition h2{
  border-bottom: 2px solid $light-blue;
  margin-left: 10px;
  font-size: 20px;
}
.condition .payment-description, .delivery-description, .return-description{
  line-height: 1.4;
  padding: 10px 20px 30px 0;
}
.condition p{
  margin-bottom: 20px;
}
.payment-description h3{
  font: 400 14px 'Roboto Slab', sans-serif;
  margin-bottom: 15px;
}
.payment-description ul{
  list-style-position: inside;
}
.catalog-items>h1{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  color: $orange;  
}
.stroller, .playpen{
  background: $bg-light;
}
.stroller .front-decor, .chair .front-decor, .playpen .front-decor, .rockcenter .front-decor, .accessories .front-decor{
  stroke: #e6ebf0;
}
.contact .phone-numb, 
.contact .adress{
  width: 100%;
  padding-top: 30px;  
  padding-right: 30px;
}
.contact h2{
 line-height: 1.5; 
 text-align: center;
} 
.contact p{
  line-height: 1.5;
  font-size: 16px;
  text-align: center; 
}
.accessories{
  background: $bg-light;
}
.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination li{
  list-style: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  margin-left: 5px;
}

.pagination .active{
  background-color: $yellow;  
}
.pagination li:hover{
  background-color: $yellow;  
}
.pagination a{  
  color: inherit;
}
.cabinet h2,h3{
  width: 100%;
  padding: 5px;
}
.cabinet ul{
  list-style: none;
  width: 100%;
  padding-top: 10px;
}

.cabinet li{
  margin-top: 10px;
  padding-left: 10px;
  
}
.cabinet li a{
  color: $blue;
}

.product-in-cart{  
  position: relative;  
  padding-top: 20px;
}
.product-in-cart td, th{
  border: 1px $light-grey solid;
  padding: 10px;
  text-align: center;
}
.product-in-cart table{
  width: 100%;
  border-collapse: collapse;
  border: 2px white solid;
}
.product-in-cart h1{
  text-align: center;
}

.product-in-cart p, .checkout p, .register-form p{
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding-top: 45px;
  color: steelblue;
}
.checkout form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.checkout label{
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: steelblue;
  font-size: 15px;
}
.checkout input{
  width: 100%;
  height: 40px;
}
.checkout textarea, .checkout input, .checkout-name, .checkout-phone{
  width: 100%;
}
.checkout #submit{
  margin-top: 10px;
  width: 50%;
  background: $yellow;
  font-weight: 700;
  font-size: 13px;
}

.checkout .errors{
    color: red;
    font-size: 20px;
    list-style: none;
}
.checkout li{
  margin-top: 10px;
  text-align: center;
}
.checkout .error-name, .checkout .error-phone{
  color: red;
  text-align: right;
}
.register-form .wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-form h2{
  width: 100%;
  text-align: center;
}
.register-form input{  
  display: block;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.register-form #submit{
  width: 150px;
  background: $yellow;
  margin: 20px auto;
}
.error{
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: $blue;
}
.category-description{
  text-align: justify;
  text-indent: 20px;
  width: 100%;
  line-height: 20px;
  margin-top: 20px;
  border:2px $light-blue solid;
  padding: 10px;
  border-radius: 7px;
}
@media (min-width: 530px){
  .box{
    top:50%;
    width:500px;
    height:300px;
    margin-left: -250px;
    margin-top: -150px;
  }
  .box img
  {
    height: 120%;
  }

  .header-widget{
    margin-bottom: 15px;    
  }
  .header-search form input {
    width: 70%;
  }
  .widget-login{
    display: flex;
    width: 130px;
  }
  .widget-promo{
    width: 130px;
  }
  .main-menu .container{
    max-width: 1150px;
  }
  .slider .slider-left{
    width: 100%;
  }
  .slider .col-left li{
    margin-top: 18px;
  }
  .slider .slider-right{
    width: 100%;
  }
  .col-right .price-from span{
    font-size: 14px;
  }
  .best-seller .price{   
    top: 40%;
    transform: translateX(-18%);
  }
  .catalog-items{
    margin-top: 0;
  }
  .catalog-items .col4{
    flex-basis: 60%;  
  }
  .good-details .good-foto{
    margin-top: -10px;
    margin-bottom: 0;
  }
  .condition .payment-description, .delivery-description, .return-description{    
    padding: 0 20px 30px 60px;
  }
}



@media (min-width:650px){
  .box{
    top:50%;
    width:600px;
    height:400px;
    margin-left: -300px;
    margin-top: -200px;
  }
  .box img
  {
    height: 120%;
  }

  .header-widget{
    justify-content: space-between;    
  }
  .widget-cart .description{
    display: block;
  }
  .widget-cart .sum{
      display: block;
  }
  .slider .slider-left{
    width: 60%;
  }
  .slider .slider-right{
    width: 40%;
  }
  .col-right .price-from span{
    font-size: 12px;
  }
  .slider-right .best-seller{
    width: 70%;
  }
  .catalog-items .col4{
    flex-basis: calc(50% - 60px);
  }
  .col-nav{
  flex-basis: 50%;       
  }
  .col-description{
  flex-basis: 50%;  
  margin-top: 0; 
  }
  .col-description h2{
  margin-left: 0;
  }
  .stock .col-nav{  
  padding-right: 50px;     
  }
  .partners .col-nav{  
  padding-left: 50px; 
  order: 2;    
  } 
  .partners .stock-nav{  
    left: 25%;
  } 
  .footer-nav li{  
    flex-basis: 25%;
  }
  footer .widget{
    flex-basis: 20%;        
  }
  .title-item{
    flex-basis: 100%;
  }
  .good-details .good-foto{
    margin-top: 0;
    margin-bottom: 20px;
  }
  .good-details .good-description{
    margin-left: 20px;
  }
  .good-description table{
  width: 80%;
  margin: 0 auto;
  }
  .contact .phone-numb, 
  .contact .adress{
    width: 50%;
    padding-top: 30px;  
    padding-right: 30px;
  }
}

@media (min-width: 900px) {

  .box{
    top:50%;
    width:1000px;
    height:800px;
    margin-left: -500px;
    margin-top: -400px;
  }
  .box img
  {
    height: 120%;
  }
  body{
    padding-top: 0;
  }
  .header-top{
    position: relative;
  }
  .header-top nav{
    display: flex;
    align-items: center;
  }
  .header-top ul{
    justify-content: flex-start;
  }
  .header-top .phone{
    display: flex;
    justify-content: flex-end;
    display: block;
    width: 50%;
    position: relative;
  }
  header .widget-callback{
    display: flex;           
  }

  .main-menu svg{  
    stroke: $bg-light;  
  }
  .main-menu li:hover svg{  
    stroke: $yellow;  
    transition: 0.5s;
  }
  li:hover .sub-menu>svg{  
    stroke: #E9F1F6;  
    transition: 0.5s;
  }
  .main-menu li:hover .sub-menu{
    display: block;
  }
  .sub-menu li:hover a{
    color: $green;
    border-bottom: 1px solid $green;
    transition: 0.5s;
  }
  .slider .slider-left{
    width: 68%;
  }
  .slider .slider-right{
    width: 32%;
  }
  .col-right .price-from span{
    font-size: 20px;
  }
  .catalog nav svg{  
    stroke: $bg-light;  
}
  .catalog li:hover svg{  
    stroke: $yellow;  
    transition: 0.5s;    
  }
  .catalog li:hover a{
    transition: 0.5s; 
    border-bottom: 1px solid $white;
  }
  .catalog nav{
    width: 75%;  
  }
  .catalog .container>h2{
    width: 100%;
  }
  .catalog-items .col4{
    flex-basis: calc(33.33% - 60px);
  }
  .col-nav{
  flex-basis: 40%;        
  }
  .col-description{
  flex-basis: 60%; 
  }
  .footer-back .btn-back{
    position: relative;
    bottom: 0;
    right: 0;
  }
  .title-item h1{
    text-align: left;
  }
  .good-details .details-item{
    flex-basis: 50%;  
  }
  .good-description table{
  width: 100%;
  }
  .condition .condition-item{
    flex-basis: 33.33%;
  }
  .details-item .colors a{
    width: 50px;
  }
}